/* Put CSS for App here*/

.App {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  grid-template-rows: 1fr 2fr 3fr 2fr 1fr;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  height: 100vh;
  max-width: 1600px;
}

.App-header {
  grid-column: 1/1;
}

.featuredPost {
  grid-column: 1/1;
  grid-row: 2/4;

}

.spotifyPlayer {
grid-column: 2/3;
grid-row: 2/5;
}

.otherPosts {
  grid-column: 1/1;
  grid-row-start: 4;
}

.footer {
  grid-column: 1/3;
  grid-row-start: 5;
}

.App-title {
  font-size: 1.5em;
}

@media only screen and (max-width: 800px) {

.App {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  height: auto;
  /*height: 100vh;*/
  max-width: 1600px;
  overflow: auto;
}

.App-header {
  grid-column: 1/1;
  grid-row: 1/1;
}

.featuredPost {
  grid-column: 1/1;
  grid-row: 2/3;

}

.spotifyPlayer {
grid-column: 1/1;
grid-row: 3/4;
}

.otherPosts {
  grid-column: 1/1;
  grid-row-start: 4/5;
}

.footer {
  grid-column: 1/1;
  grid-row-start: 5/6;
}

.App-title {
  font-size: 1.5em;
}

}


