body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  /*background: #5A3F37;   fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #2C7744, #5A3F37);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

